body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
}

header {
  background: transparent;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  position: relative;
  transition: top 0.3s;
}

.nav-icons {
  mix-blend-mode: difference;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 10px;
}

nav a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

nav a:hover:before {
  transform: scaleX(1);
}

main {
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  background-size: cover;
  background-position: center;
}

#biography {
  background-image: url("https://images.hdqwalls.com/download/macos-mojave-evening-mode-stock-l9-2560x1440.jpg");
  color: #fff;
}

#portfolio {
  background-image: url("portfolio-background.jpg");
}

#contact {
  background-image: url("contact-background.jpg");
}

section h2 {
  margin-top: 0;
  font-size: 8vw;
  color: #fff;
}

#title h2 {
  margin-top: 0;
  color: #fff;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap;
  margin: 10 auto;
  letter-spacing: 0.1em;
  animation: typing 1.5s steps(20, end), blink-caret 0.70s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

section p {
  line-height: 1.5;
  color: aliceblue;
  opacity: 0;
  animation: 3s anim-lineUp ease-out forwards;
  animation-delay: 2s;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-container button:hover {
  background-color: #333;
  color: #fff;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icon-container a {
  margin-right: 20px;
}

.icon-container i {
  color: #fff;
  transition: all 0.3s ease;
}

.icon-container i:hover {
  transform: scale(1.1);
}

.social-button {
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10;
  margin-left: 30px;
}

.social-button:hover {
  transform: scale(1.2);
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.tooltipphone {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltipphone .tooltipphonetext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the element */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltipphone .tooltipphonetext::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you hover over the tooltip container */
.tooltipphone:hover .tooltipphonetext {
  visibility: visible;
  opacity: 1;
}